<!-- 内容区 -->
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
    
    <div id="main" class="main">
    	

    	<!-- 按钮工具栏 -->
    	<div class="cf">
            <button class="btn ajax-post" target-form="ids" url="#">新 增</button>
		</div>

	<!-- 数据表格 -->
    <div class="data-table">
		<table>
            <!-- 表头 -->
            <thead>
                <tr>                    
                    <th>编号</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>优先级</th>
                    <th>最后更新</th>
                    <th>状态</th>
                    <th>浏览</th>
                    <th>操作</th>               
                </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
                <tr>                    
                    <td>1</td>
                    <td><a href="#">OneThink1.0正式版发布</a></td>
                    <td>主题</td>
                    <td>0</td>
                    <td>2013-12-17 14:51</td>
                    <td>正常</td>
                    <td>8</td>
                    <td><a href="#">编辑</a> <a href="#">删除</a></td>                   
                </tr>            
            </tbody>
        </table>
	</div>

	<!-- 分页 -->
    <div class="page">
        <div class="cont-ft">
            <div class="copyright">
                <div class="fl">eblog管理平台
            </div>
        </div>
    </div>
    <!-- /内容区 -->