<!-- 头部 -->
    <div class="header">       

        <!-- 主导航 -->
        <ul class="main-nav">
            <li class=""><a href="{:U('Index/index')}">首页</a></li>
            <li class="current"><a href="#">内容</a></li>
            <li class=""><a href="#">用户</a></li>
            <li class=""><a href="#">系统</a></li>
            <li class=""><a href="#">扩展</a></li>       
        </ul>
        <!-- /主导航 -->

        <!-- 用户栏 -->
        <div class="user-bar">            
                <span style="color:#FBFBFB">欢迎你，</span><a style="color:#FBFBFB" href="#">admin</a>
                <a style="color:#FBFBFB" href="#">修改密码</a>
                <a style="color:#FBFBFB" href="#">修改昵称</a>
                <a style="color:#FBFBFB" href="#">退出</a>
        </div>
    </div>
<!-- /头部 -->