    <meta charset="UTF-8">
    <title>eblog管理平台</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/module.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/default_color.css" media="all">
	<script language="JavaScript" src="__PUBLIC__/Admin/js/jquery-2.1.1.min.js"></script>
