    <!-- 边栏 -->
    <div class="sidebar">
        <!-- 子导航 -->        
            <div id="subnav" class="subnav">           
                <h3><a href="{:U('Index/index')}">文章列表</a></h3>
                <h3><a href="#">草稿箱</a></h3>
                <h3><a href="{:U('Comment/displayComment')}">评论</a></h3>
                <h3><a href="{:U('Category/displayCategory')}">分类</a></h3>
                <h3><a href="{:U('Music/displayMusic')}">音乐</a></h3>
                <h3><a href="{:U('Include/displayUrl')}">链接</a></h3>
            </div>        
        <!-- /子导航 -->
    </div>
    <!-- /边栏 -->

