<div id="main-content" class="col-2-3">
    <div class="wrap-col">
        <volist name="article" id="vo">
            <article>
                <div class="heading">
                <h3>
                    <a href="{:U('Article/detail?aid='.$vo['aid'])}">{$vo.title}</a>                    
                </h3>
                <span style="float:right;font-size:12px;">Post@ {$vo.create_time}</span>
                </div>
                                        
                <div class="content">                                
                    <p>{$vo.content}</p>
                </div>
            </article>    
        </volist>    
    </div>
</div>