<extend name="Index:index" />
<block name='content'>
	<!-- 内容区 -->
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
    
    <div id="main" class="main">
    	

    	<!-- 按钮工具栏 -->
    <div class="cf">
        <div class="fl">
            <div class="btn-group">
                <button class="btn document_add" url="{:U('Music/addMusic')}">新 增
                </button>
            </div>            
        </div>
    </div>

	<!-- 数据表格 -->
    <div class="data-table">
		<table>
            <!-- 表头 -->
            <thead>
                <tr>                    
                    <th>编号</th>
                    <th>标题</th>
                    <th>歌手</th>                    
                    <th>创建时间</th>                    
                    <th>路径</th>  
                    <th>操作</th>    
                </tr>
            </thead>

            <!-- 列表 -->
            <tbody>                 
                <volist name="music" id="vo">
                    <tr>
                        <td>{$vo.mid}</td>                    
                        <td>{$vo.title}</td>
                        <td>{$vo.singer}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.url}</td>                        
                        <td>
                            <a href="{:U('Music/editMusic?mid='.$vo['mid'])}">编辑</a> 
                            <a href="{:U('Music/deleteMusic?mid='.$vo['mid'])}">删除</a>
                        </td>   
                    </tr>               
                </volist>   
            </tbody>
        </table>
	</div>

	<!-- 分页 -->
    <div class="page">
        <div class="cont-ft">
            <div class="copyright">
                <div class="fl">eblog管理平台
            </div>
        </div>
    </div>
    <!-- /内容区 -->
<script type="text/javascript">
    $(function(){
        //只有一个模型时，点击新增
        $('.document_add').click(function(){
            var url = $(this).attr('url');
            if(url != undefined && url != ''){
                window.location.href = url;
            }
        });
    })
</script>
</block>