<extend name="Index:index" />	
	<!-- 主体 -->
	<block name='content'>
		<section id="content">
		    <div class="wrap-content">
		        <div class="row block">
		        	<div id="main-content" class="col-2-3" style="width:100%">
					    <div class="wrap-col">				        
					            <article>
					                <div class="heading">
					                <h4>
					                    <p>基于thinkphp3.2制作的简单个人博客</p>
					                </h4>					                
					                </div>
					                                        
					                <div class="content">                                
					                    <p>本博客系统还在开发中，目前具有文章、分类、音乐、收录页面，支持后台管理。</br>					                    
					                    音乐功能现在只支持页面点击播放，计划后续做成页面播放器的形式，留言墙功能开发中~~~</br>

					                    下一阶段开发功能包括：文章插入图片，字体样式实时设置~~</br></br>

					                    另：现在仅有的几篇文章，是我最近读的几本书的书评，暂时挪到这里撑一下场面:)</br>
					                    github地址:<a target='_blank' href='https://github.com/isuifeng/eblogbeta.git'>https://github.com/isuifeng/eblogbeta.git</a>
					                    </p>
					                </div>
					            </article>
					    </div>
					</div>	        	
		        </div>
		    </div>
		</section>
	</block>